#header {
    background-color: blue;
    padding: 4rem 70rem 4rem 5rem;
    display: flex;
    justify-content: space-between;
}


.header-item {
    display: inline-block;
}

a {
    text-decoration:none;
    color: black;
}
